<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add Article</h5>
            <form>
                <div class="mb-3">
                    <label for="articleName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="articleName">
                </div>
                <div class="mb-3">
                    <label for="articleDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="articleDescription" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="articleImage" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="articleImage">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>

                            <li> <a href = "http://127.0.0.1:8000/articles"> Lien page articles </a> </li>


        </div>
    </div>
</div>